
p{
    font-size: 18px;
    color: rgb(48, 48, 48);
}

section { background-color: rgba(226, 216, 198, 0.295);}

section#primo-piano {background-color: rgb(209, 149, 221);}
#primo-piano {background-color: rgb(161, 219, 178);}
/* più aumenti la specificità, più aumenti la priorità */

@media screen and (min-width: 768px) 
/* il mobile first usa il "min-width". nel desktop first si usa "max-width" */
{
section { background-color: bisque;}
p{
    font-size: 18px;
    color: rgb(80, 66, 66);}
}
@media screen and (min-width: 1200px) 
/* il mobile first usa il "min-width". nel desktop first si usa "max-width" */
{
    section { background-color: rgb(201, 186, 160); }
p{
    font-size: 30px;
    color: rgb(80, 76, 72);}
}

a{
    font-variant: small-caps;
    font-weight: lighter;
}

h2 { font-size: larger;}

.text-bold {
    font-weight: 500;
}

*{font-family: 'Times New Roman', Times, serif}
#lezione3 {background-color: blanchedalmond;
font-weight: 900;}